<ion-header>
  <ion-navbar hideBackButton color="colorapp">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      New Ofert
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <form  style="margin-right: 5%; margin-left: 5%">
    <ion-list>

        <ion-label class="title_menu">Links to work:</ion-label>
        <ion-item class="css-TextArea">
          <ion-textarea required rows="8" class="textare" #informacion="ngModel" [(ngModel)]="inf_adicional" name="informacion" placeholder="
          Enter the links of the pages you are going to work with."></ion-textarea>
        </ion-item>


        <ion-label class="title_menu">Category:</ion-label>
        <ion-item class="css-itemSelec">
          <ion-select required class="css-select" placeholder="Selection a category" #categoria="ngModel" [(ngModel)]="Categoria" name="categoria"  (ionChange)="activarOtro();">
            <ion-label>Category</ion-label>
            <ion-option  value="{{ categoria.categoria }}" *ngFor="let categoria of categoriaV">{{ categoria.categoria }}</ion-option>
          </ion-select>
        </ion-item>


         <hr *ngIf="bander" />

      <div class="list_Exp"  style="width: 225%"  *ngIf="bander">
        <ion-label  style="margin-left: -4%" class="title_menu">Description of new Categry</ion-label>
        <ion-item   style="width: 100%; margin-left:-4% "  class="css-text" >
          <ion-input   placeholder="Category" #descripcionC="ngModel" [(ngModel)]="DescripcionNuevaCategoria" name="descripcionC" required></ion-input>
        </ion-item>
        
      </div>
      <hr *ngIf="bander" />

      <ion-label class="title_menu">Social Networks:</ion-label>
      <ion-item>

          <button class="btnRedesSociales">
             <img src="../../assets/imgs/btnFaceboock.png">
            </button>
          
            
          <button class="btnRedesSociales">
              <img src="../../assets/imgs/btnInstagram.png">
             </button>

             <button class="btnRedesSociales">
                <img src="../../assets/imgs/btnTwiter.png">
               </button>

               <label class="btnRedesSociales"> <input type="checkbox" (click)="toggleTextPassword()"> Other</label>
                  
          
      </ion-item>

    </ion-list>
  </form>
</ion-content>