.css-select {
    font-size: 14px;
    width: 100% !important;
    max-width: 100% !important;
    text-align: center;
    border: solid 0px #cdced0;
    justify-content: center;
    border-radius: 4px;
    color: rgb(96, 96, 96);
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
  }
  

  .title_menu {
    color: rgb(126, 126, 126);
    
  }
  

  .css-text {
    font-size: 14px;
    
    width: 120% ;
    justify-content: center;
    border: solid 1px #cdced0;
    border-radius: 4px;
    color: rgb(96, 96, 96);
    
    background-color: transparent;
  
  }

  .btnRedesSociales
  {
    background-color: transparent;
    width: 15%;
    margin-left: 7%
  }
  