<ion-header>
  <ion-navbar hideBackButton color="colorapp">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Menú Principal

      

      <button (click)="reportes()" style="background: transparent; left:0; right:0; max-width:3%; float: right; margin-right: 2%; display: block; max-height:100%;">
        <ion-icon item-left>
          <img src="assets/imgs/reporte.png">
        </ion-icon>
      </button>

      <button (click)="TrabajosPagados()" style="background: transparent; left:0; right:0; max-width:3%; float: right; margin-right: 2%; display: block; max-height:100%;">
        <ion-icon item-left>
          <img src="assets/imgs/check.png">
        </ion-icon>
      </button>

      <button (click)="TrabajosPorPagar()" style="background: transparent; left:0; right:0; max-width:3.5%; float: right; margin-right: 2%; display: block; max-height:100%;">
        <ion-icon item-left>
          <img src="assets/imgs/money.png">
        </ion-icon>
      </button>


      <button (click)="NuevasSolicitudes()" style="background: transparent; left:0; right:0; max-width:3%; float: right; margin-right: 2%; display: block; max-height:100%;">
        <ion-icon item-left>
          <img src="assets/imgs/notification.png">
        </ion-icon>
      </button>

      

      <li class="nav-item" style="margin-left:15%; margin-top:-5%;">

        <div class="input-group" style="width:65% ">
          <input style="font-size: 60%" title="Buscardor de usuarios" class="form-control" type="text" placeholder="Buscar"
            #Buscar="ngModel" [(ngModel)]="buscar" name="buscar">
          <span class="input-group-append">
            <button title="Buscardor de usuarios" class="btn" (click)="busqueda()" type="button">
              <ion-icon style="width: 150%" name="search"></ion-icon>
            </button>
          </span>
        </div>

      </li>

      <!-- calendario-->
   

      <!--fin calendario-->

    </ion-title>


  </ion-navbar>
</ion-header>

<ion-content style="background-image: url('assets/imgs/fondoPaginaPrincipal.png');background-size: cover;">
  <h1 *ngIf="varNewOffer" style="text-align: center">New Oferts</h1>

 <!-- Build your select: -->
 <div class="calendar" *ngIf="banderActivado" >
      
  <div class="picker">
    <my-date-picker required placeholder="works paid" [options]="myDatePickerOptions" #mydateE="ngModel" [(ngModel)]="fechaBusqueda"
      name="mydateE" required></my-date-picker>
      <button class="btn btn-primary"(click)="buscarPorFecha()">Busqueda</button>
  </div>
</div>

    

  <ion-card *ngFor=" let ofertas of  vectorOfertas"  style="width: 90%; margin-left: 5%">
    <ion-item>

        
       <div   style="margin-left:5% ">
      <img style="width: 5%; " src="../../assets/imgs/user.png">
      <h2 align="center" style="margin-top: -3%; margin-left:-75%">{{ofertas.emitter.nombre}},{{ofertas.emitter.apellido}}</h2>

      <div>
        <div style=" margin-top:-2.5%; margin-left: 25% ">
          <img src="../../assets/imgs/time.png" style="width: 4%; height: 4%;">
          <p align="center" style="margin-top:-3.5%; margin-left:-85%; font-size: 15pt"> {{ofertas.Tiempo}} H</p>
        </div>

        <div style="margin-left:42%; margin-top:-3% ">
          <img src="../../assets/imgs/bills.png" style="width: 6%; height: 6%;">
          <p align="center" style="margin-top: -5%; margin-left:-70%; font-size: 15pt"> {{ofertas.Precio}} $ </p>
        </div>
        <div style="margin-left:65%; margin-top:-3% ">
          <img src="../../assets/imgs/group.png" style="width: 10%; height: 10%;">
          <p align="center" style=" margin-top:-8%; margin-left:-50%; font-size: 15pt"> {{ofertas.Alcance}} </p>
        </div>
      </div>

      </div>

      <div  style="margin-left: 85%; margin-top: 5%">
          <h2>
              <b>Extra Information</b>
              <br>
              <br>
            </h2>
      <p>{{ofertas.Inf_extra}}</p>
      <br><br>
      <br> <br>     
          </div>

      <div class=”row”>  

 
      
      <div  style="margin-top:-12% ;margin-left: 5%">

         


      <h2>
        <b>Links to work</b>
        <br>
        <br>
      </h2>

      <div style=" font-size:80%;  ">
        <textarea rows="10" cols="50">
            {{ofertas.Links_to_work}}
            </textarea>
     </div>

      <div style="margin-left:42%; margin-top:-20% ">
        <h2>
          <b>Social Network</b>
          
        </h2>
        <br>
        <br>


        <img src="../../assets/imgs/btnFaceboockAct.png" style="width: 3%; height: 3%; padding: 0; margin: 0">
        <p style="margin-left: 5%; margin-top: -3%"><b>Faceboock:</b>{{ofertas.Faceboock}}</p>

        <br>

        <img src="../../assets/imgs/btnInstagramAct.png" style="width: 3%; height: 3%;">
        <p style="margin-left: 5%; margin-top: -3%"><b>Instagram:</b>{{ofertas.Instagram}}</p>
        <br>

        <img src="../../assets/imgs/btnTwiterAct.png" style="width: 3%; height: 3%;">
        <p style="margin-left: 5%; margin-top: -3%"><b>Twiter:</b>{{ofertas.Twiter}}</p>
        <br>

        <img src="../../assets/imgs/other.png" style="width: 10%; margin-left: -3%;">
        <p style="margin-left: 7%; margin-top: -4%"><b>Another:</b>{{ofertas.OtraRed}}</p>


      </div>

      <div style="margin-top:-19%; padding-bottom: 10% ">
        <h2 style="margin-left: 67%">
          <b>Category</b>
          <br>
          <br>
        </h2>
        

        

        <div style="margin-left: 67%; margin-top: 0%" *ngFor="let cadenas of ofertas.Categoria.split(',')">
          <label class="checkbox-inline"><input  type="checkbox"  value="{{cadenas}}" checked>{{cadenas}}</label>
          <br>
          <br>

        </div>

        <label style="margin-left: 67%" class="checkbox-inline"><input type="checkbox" checked value="">Otra:{{ofertas.OtraCategoria}}</label>

        
        
      </div>

        

      

    </div>

  

  
  </div>

     

    </ion-item>
   

 
    <ion-select  multiple="true" required class="css-select"  id="selectCategoria" placeholder="Modify Category" #categoria="ngModel"
    [(ngModel)]="Categoria" name="categoria" (ionChange)="activarOtro();" required>
    <ion-label>Category</ion-label>
    <ion-option value="{{cadenas}}" *ngFor="let cadenas of ofertas.Categoria.split(',')">{{cadenas}}</ion-option>
  </ion-select>



    <button style="font-size: 80%" (click)="AceptarOfertaNueva(ofertas, 1)" class="btn btn-primary"> Approve and Accept</button>
    
<button class="btn btn-danger" (click)="Denegar(ofertas, 2)"> Denny</button>


   
  </ion-card>


  <ion-list  class="list-ios-margin-to" *ngFor=" let ofertas of  vectorOfertasPorPagar"  >
      <ion-item>
          <div   style="margin-left:5% ">
              <img style="width: 3%; " src="../../assets/imgs/user.png">
              <h2 align="center" style="margin-top: -1%; margin-left:-80%; font-size: 10pt">{{ofertas.emitter.nombre}},{{ofertas.emitter.apellido}}</h2>

              <div>
                  <div style=" margin-top:-2.5%; margin-left: 20% ">
                    <img src="../../assets/imgs/time.png" style="width: 3%; height: 3%;">
                    <p align="center" style="margin-top:-1.5%; margin-left:-85%; font-size: 10pt"> {{ofertas.Tiempo}} H</p>
                  </div>
          
                  <div style="margin-left:33%; margin-top:-2.5% ">
                    <img src="../../assets/imgs/bills.png" style="width: 4%; height: 4%;">
                    <p align="center" style="margin-top: -2.5%; margin-left:-75%; font-size: 10pt"> {{ofertas.Precio}} $ </p>
                  </div>
                  <div style="margin-left:48%; margin-top:-2.5% ">
                    <img src="../../assets/imgs/group.png" style="width: 6%; height: 6%;">
                    <p align="center" style=" margin-top:-4%; margin-left:-70%; font-size: 10pt"> {{ofertas.Alcance}} </p>
                  </div>

                  <div style="margin-left:65%; margin-top:-2.5% ">
                      <img src="../../assets/imgs/paypal.png" style="width: 6%; height: 6%;">
                      <p align="center" style=" margin-top:-4%; margin-left:-50%; font-size: 10pt"> {{ofertas.emitter.paypal}} </p>
                    </div>
                </div>
                <button (click)="OfertaPagada(ofertas)" class="btn btn-primary"  style="margin-top:-5%; margin-left:90%">Payed </button>
        <hr>
              
    </div>
    </ion-item>


  </ion-list>
  


<!-- ofertas pagadas-->

<ion-card *ngFor=" let ofertas of  vectorOfertasPagadas"  style="width: 90%; margin-left: 5%">
    <ion-item>

        
       <div   style="margin-left:5% ">
      <img style="width: 5%; " src="../../assets/imgs/user.png">
      <h2 align="center" style="margin-top: -3%; margin-left:-65%">{{ofertas.emitter.nombre}},{{ofertas.emitter.apellido}}</h2>

      <div>
        <div style=" margin-top:-2.5%; margin-left: 42% ">
          <img src="../../assets/imgs/time.png" style="width: 4%; height: 4%;">
          <p align="center" style="margin-top:-3.5%; margin-left:-75%; font-size: 15pt"> {{ofertas.Tiempo}} H</p>
        </div>

        <div style="margin-left:58%; margin-top:-3% ">
          <img src="../../assets/imgs/bills.png" style="width: 6%; height: 6%;">
          <p align="center" style="margin-top: -5%; margin-left:-70%; font-size: 15pt"> {{ofertas.Precio}} $ </p>
        </div>
        <div style="margin-left:72%; margin-top:-3% ">
          <img src="../../assets/imgs/group.png" style="width: 10%; height: 10%;">
          <p align="center" style=" margin-top:-8%; margin-left:-50%; font-size: 15pt"> {{ofertas.Alcance}} </p>
        </div>
      </div>

      </div>

      <div  style="margin-left: 85%; margin-top: 6%">
          <h2>
              <b>Extra Information</b>
              <br>
              <br>
            </h2>
      <p>{{ofertas.Inf_extra}}</p>
      <br><br>
      <br> <br>     
          </div>

      <div class=”row”>  

 
      
      <div  style="margin-top:-12% ;margin-left: 5%">

         

<div  style="margin-top:-18%">
      <h2>
        <b>Links to work</b>
        <br>
        <br>
      </h2>

      <div style=" font-size:80%; padding-bottom:10%  ">
        <textarea  rows="5" cols="50">
            {{ofertas.Links_to_work}}
            </textarea>
     </div>
<br>
<br>
    </div>

      <div style="margin-left:42%; margin-top:-25% ">
        <h3>
          <b>Social Network</b>
          
        </h3>
        <br>
        <br>


     
        <p style="margin-top: -5%"><b>Faceboock:</b>{{ofertas.Faceboock}}, 
          <b>Instagram:</b>{{ofertas.Instagram}}, <b>Twiter:</b>{{ofertas.Twiter}},
          <b>Another:</b>{{ofertas.OtraRed}}  </p>

        
    
       
      

        


      </div>
<br>
      <div style="margin-left:42%">
        <h3 >
          <b>Category</b>
          <br>
       
        </h3>
      <p>{{ofertas.Categoria}}, <b>Otra:</b>{{ofertas.OtraCategoria}}</p>

        

      

        
      </div>


    </div>

  </div>


  <br>
  
     
    </ion-item>
   



   
  </ion-card>



  <div style="width: 100%; margin-left: 0%; margin-top: 10%">
    <img id="imganeTitulo" src="assets/imgs/logokans.png" style="width: 40%;">
  </div>




</ion-content>