<ion-header>
  <ion-navbar hideBackButton color="colorapp">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Menú Principal



      <button (click)="NuevasSolicitudes()" style="background: transparent; left:0; right:0; max-width:3%; float: right; margin-right: 5%; display: block; max-height:100%;">
        <ion-icon item-left>
          <img src="assets/imgs/notification.png">
        </ion-icon>
      </button>


      <li class="nav-item" style="margin-left:15%; margin-top:-5%;">

        <div class="input-group" style="width:80% ">
          <input style="font-size: 60%" title="Buscardor de usuarios" class="form-control" type="text" placeholder="Buscar"
            #Buscar="ngModel" [(ngModel)]="buscar" name="buscar">
          <span class="input-group-append">
            <button title="Buscardor de usuarios" class="btn" (click)="busqueda()" type="button">
              <ion-icon style="width: 150%" name="search"></ion-icon>
            </button>
          </span>
        </div>

      </li>


    </ion-title>


  </ion-navbar>
</ion-header>

<ion-content style="background-image: url('assets/imgs/fondoPaginaPrincipal.png');background-size: cover;">
  <br>
  <h1 style="text-align: center">New Oferts</h1>


  <ion-card *ngFor=" let ofertas of  vectorOfertas">
    <ion-item>
      <img style="width: 5%;  padding: 0%" src="../../assets/imgs/user.png">
      <h2 align="center" style="margin-top: -3%; margin-left:-70%">{{ofertas.emitter.nombre}},{{ofertas.emitter.apellido}}</h2>

      <div>
        <div style=" margin-top:-2.5%; margin-left: 25% ">
          <img src="../../assets/imgs/time.png" style="width: 4%; height: 4%;">
          <p align="center" style="margin-top:-3.5%; margin-left:-85%; font-size: 15pt"> {{ofertas.Tiempo}} H</p>
        </div>

        <div style="margin-left:42%; margin-top:-3% ">
          <img src="../../assets/imgs/bills.png" style="width: 6%; height: 6%;">
          <p align="center" style="margin-top: -5%; margin-left:-70%; font-size: 15pt"> {{ofertas.Precio}} $ </p>
        </div>
        <div style="margin-left:65%; margin-top:-3% ">
          <img src="../../assets/imgs/group.png" style="width: 10%; height: 10%;">
          <p align="center" style=" margin-top:-8%; margin-left:-50%; font-size: 15pt"> {{ofertas.Alcance}} </p>
        </div>

      </div>
      <br>
      <br>

      <h2 style="margin-left: 30%">
        <b>Category</b>
        <br>
        <br>
      </h2>

      <div style="margin-left: 30%" *ngFor="let cadenas of ofertas.Categoria.split(',')">
        <label class="checkbox-inline"><input type="checkbox" value="asdasd" checked>{{cadenas}}</label>
        <br>
        <br>

      </div>
      <br>

      <div style="margin-left:50%; margin-top:-15%">
        <h2>
          <b>Social Network</b>
          <br>
          <br>
        </h2>


        <img src="../../assets/imgs/btnFaceboockAct.png" style="width: 3%; height: 3%; padding: 0; margin: 0">
        <p style="margin-left: 5%; margin-top: -3%"><b>Faceboock:</b>{{ofertas.Faceboock}}</p>

        <br>

        <img src="../../assets/imgs/btnInstagramAct.png" style="width: 3%; height: 3%;">
        <p style="margin-left: 5%; margin-top: -3%"><b>Instagram:</b>{{ofertas.Instagram}}</p>
        <br>

        <img src="../../assets/imgs/btnTwiterAct.png" style="width: 3%; height: 3%;">
        <p style="margin-left: 5%; margin-top: -3%"><b>Twiter:</b>{{ofertas.Twiter}}</p>
        <br>

        <img src="../../assets/imgs/other.png" style="width: 10%; margin-left: -3%;">
        <p style="margin-left: 7%; margin-top: -4%"><b>Another:</b>{{ofertas.OtraRed}}</p>

      </div>


      <br>

      <br>


      <button style="margin-left:45%; background: none" (click)="mostrarLinks()">
        <ion-icon name="md-arrow-dropdown"></ion-icon>
      </button>




    </ion-item>


    <div *ngIf="banderLinks">
      <h3><b>Links to Work</b></h3>
      <ion-textarea value={{ofertas.Links_to_work}}> </ion-textarea>
    </div>





  </ion-card>






  <div style="width: 100%; margin-left: 0%; margin-top: 10%">
    <img id="imganeTitulo" src="assets/imgs/logokans.png" style="width: 40%;">
  </div>




</ion-content>