.getstarCuenta {
    display: block;
    margin: 0 auto;
    width: 100%; //height: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #formUpdate
  {
    margin-right: 10%;
    margin-left: 10%;
  }

  #submit
{
    width: 100%;
   
  padding: 2.5%;
  border-radius: 58px 58px 58px 58px;
  -moz-border-radius: 58px 58px 58px 58px;
  -webkit-border-radius: 58px 58px 58px 58px;
  border: 2px solid #2B58A7;
    background:white;

    font-weight: bold;
    
  
}