<ion-header>
  <ion-navbar color="colorapp">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title style="float: left;">
      Mi Cuenta
    </ion-title>
    <button (click)="toggleDisable()" style="background: transparent; left:0; right:0; max-width:10%; float: right; margin-right: 5%; display: block; max-height:100%; display: flex;
      align-items: center; justify-content: center;">
      <ion-icon item-left>
        <img src="assets/imgs/lapizEditar.png">
      </ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content class="getstarCuenta">
  
  <img style="background: transparent; width: 150%;" src="assets/imgs/fondoMiCuentaVF.png" alt="">
  
  <br>
  <br>
  <br>
  
  <form #FormularioUpdate="ngForm" (ngSubmit)="onUpdate()" id="formUpdate" >
  
    
    <ion-list>

      <ion-item>
        <ion-label fixed>Nombres:</ion-label>
        <ion-input [disabled]='disableTextbox' style="text-align: left; margin-left: -15%" #nombres="ngModel" [(ngModel)]="identity.nombre" name="nombres"
          type="text" value="" pattern="[a-zA-Z ]*" required></ion-input>
      </ion-item>
      <ion-item *ngIf="nombres.errors && (nombres.dirty || nombres.touched)">
        <ion-icon name="alert" item-start color="danger"></ion-icon>
        <p ion-text color="danger" [hidden]="!nombres.errors.pattern">Ingrese sólo caracteres alfabéticos</p>
        <p ion-text color="danger" [hidden]="!nombres.errors.required">Campo requerido</p>
      </ion-item>

      <ion-item>
        <ion-label fixed>Apellidos:</ion-label>
        <ion-input [disabled]='disableTextbox' style="text-align: left; margin-left: -15%" #apellidos="ngModel" [(ngModel)]="identity.apellido" name="apellidos" type="text"
          value="" pattern="[a-zA-Z ]*" required></ion-input>
      </ion-item>
      <ion-item *ngIf="apellidos.errors && (apellidos.dirty || apellidos.touched)">
        <ion-icon name="alert" item-start color="danger"></ion-icon>
        <p ion-text color="danger" [hidden]="!apellidos.errors.pattern">Ingrese sólo caracteres alfabéticos</p>
        <p ion-text color="danger" [hidden]="!apellidos.errors.required">Campo requerido</p>
      </ion-item>

     

      <ion-item>
        <ion-label fixed>Correo:</ion-label>
        <ion-input [disabled]='disableTextbox'style="text-align: left; margin-left: -15%" #correo="ngModel" [(ngModel)]="identity.correo" name="correo" type="text" value=""
          required email></ion-input>
      </ion-item>
      <ion-item *ngIf="correo.errors && (correo.dirty || correo.touched)">
        <ion-icon name="alert" item-start color="danger"></ion-icon>
        <p ion-text color="danger" [hidden]="!correo.errors.required">Campo requerido &nbsp;</p>
        <p ion-text color="danger" [hidden]="!correo.errors.email">Correo invalido</p>
      </ion-item>

      <ion-item>
        <ion-label fixed>Celular:</ion-label>
        <ion-input [disabled]='disableTextbox' style="text-align: left; margin-left: -15%" #celular="ngModel" [(ngModel)]="identity.tel_celular" name="celular" type="text" value=""
          required digits pattern="[0-9]*" minlength="10" maxlength="10"></ion-input>
      </ion-item>
      <ion-item *ngIf="celular.errors && (celular.dirty || celular.touched)">
        <ion-icon name="alert" item-start color="danger"></ion-icon>
        <p ion-text color="danger" [hidden]="!celular.errors.pattern">Ingrese sólo números</p>
        <p ion-text color="danger" [hidden]="!celular.errors.minlength">Ingrese una número válido</p>
        <p ion-text color="danger" [hidden]="!celular.errors.required">Campo requerido</p>
      </ion-item>

    </ion-list>

    <br>
    <br>

    <input type="submit" id="submit">
  </form>

</ion-content>
