.getstar {
    display: block;
    margin: 0 auto;
    width: 100%; //height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#imganeTitulo {
   

 margin-top: -10%;
    width:100%;
 
  
}

input[placeholder] {
    color: #020202;
}

#nameR
{
    width: 100%;
   
  padding: 2.5%;
  border-radius: 58px 58px 58px 58px;
  -moz-border-radius: 58px 58px 58px 58px;
  -webkit-border-radius: 58px 58px 58px 58px;
  border: 1px solid #a5a5a5;
    background:white;
  
}

#registrar
{
    width: 100%;
   
    padding: 2.5%;
    border-radius: 58px 58px 58px 58px;
    -moz-border-radius: 58px 58px 58px 58px;
    -webkit-border-radius: 58px 58px 58px 58px;
    border: 2px solid #F8A26F;
    background: rgb(250, 242, 237);
   
     
    
}