::-webkit-input-placeholder { /* WebKit browsers */
  color:black !important;
  opacity: 0.8;
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
  }
  
  #btnIngresar
  {
    padding: 2.5%;
    display: block;
   padding-left:18%;
   padding-right: 18%; 
   margin-left: 10%;  
      margin-right: 10%;  
   align-content: center;
    width: 100%;
 //   margin-left:12%; 
    border-radius: 58px 58px 58px 58px;
    -moz-border-radius: 58px 58px 58px 58px;
    -webkit-border-radius: 58px 58px 58px 58px;
      border: 2px solid #ffffff;
      background:none;
      opacity: 0.8;
      color: white;
      font-weight: bold;
  }

.getstart {
    background-color: #F5A56E;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @keyframes pulse {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .formLogin {
    display: block;
    margin: 0 auto;
    right: 0;
    left: 30%;
    //margin-left: 20%;
   // padding-right: -80%;
    width: 30%;
    padding-bottom:100%;
      margin-top: -1.5%;
      padding-top: 2%;
    height: auto;
  background-color:  black;
    opacity: 0.9; 
    justify-content: center;
  }
  
  #imganeTitulo {
    display: block;
    margin: 0 auto;
    right: 0;
    left: 0;
    height: auto;
  }
  
  #password{
    padding: 3%;
    padding-right: 15%;
    padding-left: 15%;
    border-radius: 58px 58px 58px 58px;
    -moz-border-radius: 58px 58px 58px 58px;
    -webkit-border-radius: 58px 58px 58px 58px;
      border: 3px solid #ffffff;
      background:#d1d0cd;
      opacity: 0.8; 
     //margin-left: 12%;  
     width: 100%;
     margin-left: 10%;  
      margin-right: 10%;    
  }

  #email{
    padding: 3%;
    padding-right: 15%;
    padding-left: 15%;
    border-radius: 58px 58px 58px 58px;
    -moz-border-radius: 58px 58px 58px 58px;
    -webkit-border-radius: 58px 58px 58px 58px;
      border: 3px solid #ffffff;
      background:#d1d0cd;
      opacity: 0.8;
      margin-left: 10%;  
      margin-right: 10%;  

     width: 100%; 


  }